@import url(https://fonts.googleapis.com/css?family=Orbitron);

.fontPreload {
/*	font-family: Orbitron;*/
	position: absolute;
	left: -100px;
}

body {
	font-family: "Orbitron";
	margin: 0 0 0px 0;
	background: #333;
}

/*@font-face {
	font-family: "Orbitron";
	src: url("https://fonts.googleapis.com/css?family=Orbitron");
}*/

